
<!DOCTYPE html>

<html lang="en">
 <style>
  #myTable {
    max-width: 800px;
    margin: 0 auto;
    }

  table {
   width: 100%;
   border-collapse: collapse;
   margin-bottom: 15px;
   }

   th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
    }

    th {
     background-color: #f2f2f2;
    }
  </style>
  
<head>
    <meta charset="UTF-8">
</head>

<body>

{% extends 'base.html' %}

{% block content %}

<h2>Black List</h2>
  
<div class="table" id="myTable">
  <table border='1'>
  <tr>
    <th>Casa</th>
    <th>Status</th>

  </tr>
  <tr>
    <td>Betano</td>
    <td>Limitado</td>
  </tr>
  <tr>
    <td>Mostbet</td>
    <td>Blocked</td>
  </tr>
  <tr>
    <td>Parimatch</td>
    <td>Blocked</td>
  </tr>
  <tr>
    <td>Playpix</td>
    <td>Limitado</td>
  </tr>
  <tr>
    <td>EstrelaBet</td>
    <td>Limitado</td>
  </tr>
</table>

</body>
</html>

{% endblock %}

</body>
</html>
