
<!DOCTYPE html>

<html lang="en">
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<head>
    <meta charset="UTF-8">
</head>

<body>

{% extends 'base.html' %}

{% block content %}

<h2>Black List</h2>
  
<table>
  <tr>
    <th>Casa</th>
    <th>Status</th>

  </tr>
  <tr>
    <td>Betano</td>
    <td>Limitado</td>
  </tr>
  <tr>
    <td>Mostbet</td>
    <td>Blocked</td>
  </tr>
  <tr>
    <td>Parimatch</td>
    <td>Blocked</td>
  </tr>
  <tr>
    <td>Playpix</td>
    <td>Limitadot</td>
  </tr>
  <tr>
    <td>EstrelaBet</td>
    <td>Limitado</td>
  </tr>
</table>

</body>
</html>

{% endblock %}

</body>
</html>
