<!DOCTYPE html>

<html lang="en">
<style>
        #myTable1 {
            max-width: 70%;
            margin: 0 auto;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 15px;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }
</style>

<head>
    <meta charset="UTF-8">
</head>

<body>

{% extends 'base.html' %}

{% block content %}

<div class=".betting-table" id="myTable1">
    <table class="table1">
      <tr>
        <th>Lucro_Total</th>
        <th>Apostas_Pendente</th>
        <th>Lucro_Pendente</th>
          <th>Lucro_%</th>
        <th>Ocultar_Ganhou</th>
        <th>Mostrar_Tudo</th>
      </tr>
      <tr>
        <td>{{ total_valor|default:"0.00" }}</td>
        <td>{{ total_valor_pendente|default:"0.00" }}</td>
        <td>{{ l_pendente }}</td>
        <td>{{ P_lucro }}</td>
        <td><button onclick="ocultarLinhasPendentes()">Ocultar</button></td>
        <td><button onclick="mostrarLinhasPendentes()">Mostrar</button></td>
      </tr>
    </table>
</div>

<br></br>

<div class=".betting-table" id="myTable">
        <table class="table">
          <tr>
              <th> Data </th>
              <th> Hora </th>
              <th> Casa </th>
              <th> Vr_Investido </th>
              <th> Status </th>
              <th> ODD </th>
              <th> Lucro </th>
              <th> Opcoes </th>
          </tr>

            {% for member in object_list %}
            <tr>
                <td>{{ member.data }}</td>
                <td>{{ member.hora }}</td>
                <td>{{ member.casa }}</td>
                <td>{{ member.valor }}</td>
                <td class="status">{{ member.status }}</td>
                <td>{{ member.odd }}</td>
                <td>{{ member.ganho }}</td>
                <td>
                    <a href="{% url 'editar-status' member.pk %}" class="fa fa-pencil fa-lg" style="color: blue;"></a>
                    <a href="{% url 'deleta-campo' member.pk %}" class="fa fa-trash fa-lg" style="color: red;"></a>
                </td>
            </tr>

            {% empty %}
            <tr>
                <td colspan="3"> Nada </td>
            </tr>

            {% endfor %}

        </table>


</div>

{% endblock %}

<script>
    // Obter o elemento da tabela e do dropdown
    var tabela = document.getElementById("table");
    console.log(tabela);
    var dropdown = document.createElement("select");

    // Obter todas as linhas da tabela (excluindo a linha de cabeçalho)
    var linhas = tabela.getElementsByTagName("tr");

    // Extrair nomes das empresas da tabela e preencher as opções do dropdown
    var opcoes = [];
    for (var i = 1; i < linhas.length; i++) {
        var celulaData = linhas[i].getElementsByTagName("td")[0];
        opcoes.push(celulaData.textContent.trim());
    }

    // Criar elementos de opção para o dropdown
    for (var i = 0; i < opcoes.length; i++) {
        var opcao = document.createElement("option");
        opcao.value = opcoes[i];
        opcao.text = opcoes[i];
        dropdown.appendChild(opcao);
    }

    // Adicionar evento de mudança ao dropdown
    dropdown.addEventListener("change", function() {
        var valorSelecionado = this.value.toLowerCase();

        // Loop através das linhas da tabela
        for (var i = 1; i < linhas.length; i++) {
            var celulaData = linhas[i].getElementsByTagName("td")[0];
            var data = celulaData.textContent.trim().toLowerCase();

            // Definir a visibilidade da linha com base na correspondência com a opção selecionada
            linhas[i].style.display = ({{ member.casa }} === valorSelecionado || valorSelecionado === "") ? "" : "none";
        }
    });

    // Anexar o dropdown ao corpo do documento ou a qualquer outro elemento contêiner
    document.body.appendChild(dropdown);
</script>
        
</body>
</html>
