<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conferência da Lotofácil</title>
</head>
<body>
{% extends 'base.html' %}

{% block content %}

<h1> Loto Facil </h1>

<div class=".betting-table" id="myTable">
        <table class="table">
          <tr>
              <th> Data </th>
              <th> Concurso <th>
              <th> Valor </th>
              <th> N_Sorteados </th>
              <th> Q_Acertos</th>
          </tr>

            {% for entry in mymembers %}
            <tr>
                <td>{{ entry.data }}</td>
                <td>{{ entry.concurso }}</td>
                <td>{{ entry.valor }}</td>
                <td>{{ entry.numeros_sorteados }}</td>
                <td>{{ entry.total_acertos }}</td>
            </tr>
            {% endfor %}
        </table>
</div>

{% endblock %}
</body>
</html>
